:root {
    --color: rgb(17 172 146);
}
/* .timeline-icon {
  float: left;
  margin-right: 10px;
} */
.timeline-icon img {
  background: radial-gradient(#273972, transparent);
  border-radius: 50%;
}
.timeline-title span a {
  color: #567;
  font-weight: 800;
  font-size: 20px;
  border-bottom: unset;
}
.timeline-date time {
  font-size: 18px;
  color: #589;
  letter-spacing: 1px;
}
/*--------------------*/
body{
  margin-top:100px !important;
}
.Yearly-timeline{ font-family: 'Poppins', sans-serif; }
.Yearly-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.Yearly-timeline .timeline{
    width: calc(50% + 17px);
    padding: 0 30px 30px 0;
    float: left; 
    position: relative;
    margin-bottom: -23px;
    margin-left: -41px;
}
.Yearly-timeline .timeline:not(:last-child):before,
.Yearly-timeline .timeline:not(:last-child):after{
    content: '';
    height: 60px;
    width: 2px;
    border-left: 2px solid var(--color);
    transform: rotate(-45deg);
    position: absolute;
    right: 27px;
    bottom: 0;
}
.Yearly-timeline .timeline:not(:last-child):after{
    background-color: var(--color);
    height: 10px;
    width: 10px;
    border: 6px solid var(--color);
    border-radius: 50%;
    right: 0;
}   
.Yearly-timeline .timeline-content{
    color: #555;
    background: var(--color);
    text-align: center;
    /* min-height: 170px; */
    padding: 30px 35px 35px;
    /* border-radius: 15px 15px 0 15px; */
    display: block;
    position: relative;
    z-index: 1;
    border-bottom: unset;
}
.Yearly-timeline .timeline-content:before{
    content: '';
    background-color: #fff;
    position: absolute;
    left: 17px;
    right: 17px;
    top: 17px;
    bottom: 17px;
    z-index: -1;
}
.Yearly-timeline .timeline-content:hover{ text-decoration: none; }
.Yearly-timeline .timeline-icon{
    color: #777;
    font-size: 35px;
}
.Yearly-timeline .title{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.Yearly-timeline .description{
    color: #777;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin: 0;
}
.Yearly-timeline .timeline:nth-child(even){
    padding: 0 0 30px 30px;
    float: right;
}
.Yearly-timeline .timeline:nth-child(even):before{
    transform: rotate(45deg);
    right: auto;
    left: 30px;
}
.Yearly-timeline .timeline:nth-child(even):after{
    right: auto;
    left: 0;
}
/* .Yearly-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 15px 15px 15px 0; } */
.Yearly-timeline .timeline:nth-child(4n+2):before,
.Yearly-timeline .timeline:nth-child(4n+2):after{
    border-color: var(--color);
}
.Yearly-timeline .timeline:nth-child(4n+2) .timeline-content{
    background: var(--color);
}
.Yearly-timeline .timeline:nth-child(4n+3):before,
.Yearly-timeline .timeline:nth-child(4n+3):after{
    border-color: var(--color);
}
.Yearly-timeline .timeline:nth-child(4n+3) .timeline-content{
    background: var(--color);
}
.Yearly-timeline .timeline:nth-child(4n+4):before,
.Yearly-timeline .timeline:nth-child(4n+4):after{
    border-color: var(--color);
}
.Yearly-timeline .timeline:nth-child(4n+4) .timeline-content{
    background:var(--color);
}
@media screen and (max-width:767px){
    .Yearly-timeline .timeline{
        width: 100%;
        padding: 30px 0 0 30px;
        margin: 0 0 20px;
    }   
    .Yearly-timeline .timeline:before,
    .Yearly-timeline .timeline:nth-child(even):before{
        transform: rotate(-45deg);
        bottom: auto;
        top: 0;
        right: auto;
        left: 30px;
    }
    .Yearly-timeline .timeline:after,
    .Yearly-timeline .timeline:nth-child(even):after{
        bottom: auto;
        top: 0;
        right: auto;
        left: 0;
    }
    .Yearly-timeline .timeline-content,
    /* .Yearly-timeline .timeline:nth-child(even) .timeline-content{
        border-radius: 0 15px 15px 15px;
    } */
}