<div class="timeline">
  <a href="{{ fields.view_node.content }}" class="timeline-content" style="background:{{ fields.field_timeline_styles_color.content }}">
      <div class="timeline-icon">{{ fields.field_timeline_styles_icon.content }}</div>
      <h2 class="title">{{ fields.title.content }}</h2>
      {{ fields.field_timeline_styles_image.content }}
      <strong>{{ fields.field_timeline_styles_date.content }}</strong>      
      <p class="description">{{ fields.body.content }}</p>
  </a>
</div>